
body {
  margin: 0;
  font-family: 'Courier New';
  background: linear-gradient(to left, rgb(9, 56, 9), rgba(87, 129, 87, 0.5));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card{
  background-color: rgba(154,238,154,.4);
  margin: 8px;
  padding: 3px;
  text-align: center;
  transition: transform .1s ease-in;
  border-radius: 15px;
  box-shadow:0px 0px 10px rgba(0,0,0,.4);
  width: 300px;
  height: 400px;
}

.cardimg{
  width: 250px;
  align-self: center;
  padding: 10px;
}
.card:hover{
  transform: scale(1.05);
}

.center{
  text-align: center;
  justify-items: center;
}

input[type='search']{
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}
.row{
  justify-content: center;
}
.title{
  font-family: 'Orbitron', sans-serif;
  font-size: 60px;
}
.jumbotron{
  background: transparent;
  box-shadow: 0px 10px 0px rgba(0,0,0,.4);
}
.scrollbar{
  overflow: scroll;
  scrollbar-width: none;
  height: 1250px;;
}

.scrollbar::-webkit-scrollbar{
  display: none;
}